%h1 Songs

%table
  %thread
    %th url
    %th Name
    %th Credits 
    %th Available
  
  %tbody
    - @songs.each do |song|
      %tr
        %td
          = song.url.truncate(150)
        %td
          = song.name
        %td
          = song.credits.truncate(150)
        %td
          = song.available
        %td
          = link_to "Edit", edit_song_path(song.id)
          = link_to "Delete", song_path(song.id), method: :delete, data: {confirm: "Are you sure?"}

%br/
= link_to "Add Songs", new_song_path        

%br/
= link_to "Go to Artists", artists_path

%br/
= link_to "Go to Albums", albums_path

%br/
= link_to "Back to Home", root_path